:root {
    --bg-0: hsl(220, 7%, 8%);
    --bg-1: hsl(220, 7%, 12%);
    --bg-2: hsl(220, 7%, 16%);
    --bg-3: hsl(220, 7%, 20%);
    --bg-4: hsl(220, 7%, 23%);
    --bg-5: hsl(220, 7%, 26%);
    --font-color-1: hsl(0, 0%, 100%);
    --font-color-2: hsl(0, 0%, 85%);
    --font-color-3: hsl(0, 0%, 70%);

    --user-online: #13923d;
    --user-offline: hsl(220, 8%, 30%);
}

html body {
    min-height: 100vh;
    color: var(--font-color-1);
    background-color: var(--bg-1);
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: var(--bg-1) !important;
}

.callout {
    padding: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}

.callout-danger {
    z-index: 999;
    color: var(--font-color-1);
    background-color: rgba(67, 12, 17, 0.9);
    border-color: rgba(106, 17, 26, 0.9);
    position: absolute;
    width: 100%;
}

#closeDanger {
    float: right;
}

#messageContainer::-webkit-scrollbar {
    width: 14px;
}

#messageContainer::-webkit-scrollbar-track {
    background: var(--bg-3);
    padding: 2px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

#messageContainer::-webkit-scrollbar-thumb {
    background: var(--bg-1);
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

#messageField::-webkit-scrollbar {
    width: 10px;
}

#messageField::-webkit-scrollbar-track {
    padding: 2px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

#messageField::-webkit-scrollbar-thumb {
    background: var(--bg-3);
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}


.channel {
    margin-bottom: 10px;
    cursor: pointer;
}

.message {
    margin-bottom: 10px;
}

.text-input {
    border: none;
    outline: none;
    color: var(--font-color-1);
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    background-clip: padding-box;
    max-height: 40vh;
    overflow-y: auto;
}

menu {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    padding: 0;
    margin: 0;
    border: 1px solid;
    font-weight: normal;
    white-space: nowrap;
    background-color: #494949;
    z-index: 100;
}

menu:hover {
    background-color: #7e7e7e;
    cursor: pointer;
}

#profilePicture:hover {
    opacity: 0.5;
}

.card-image {
    max-width: 215px;
    max-height: 215px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-header {
    background-color: inherit !important;
}

.dot-spin {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: transparent;
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
    animation: dot-spin 1.5s infinite linear;
}

@keyframes dot-spin {
    0%, 100% {
        box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }

    12.5% {
        box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }

    25% {
        box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }

    37.5% {
        box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }

    50% {
        box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
    }

    62.5% {
        box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
    }

    75% {
        box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
    }

    87.5% {
        box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 #9880ff;
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(255, 145, 0, 0.28);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    left: 50%;
    top: 30px;
    z-index: 999;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    display: flex;
    align-items: baseline;
    justify-content: center;
    border: 1px solid orange;
}

#dot-spin {
    float: right;
    margin: 1.3rem;
    right: 0;
}

pre {
    white-space: break-spaces !important;
}

.flex-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#leftContainer {
    display: flex;
    flex-direction: column;
    max-width: 260px;
}

#user {
    width: 100%;
    background-color: var(--bg-1);
    display: flex;
    cursor: pointer;
    padding: 5px;
    align-items: center;
    position: relative;
}

#user>img {
    float: left; 
    border-radius: 50%;
    width: 42px;
    aspect-ratio: 1;
}

#user h2 {
    margin: 0 0 0 4px;
    font-size: 28px;
    user-select: none;
}

#userPopupBackground {
    position: absolute;
    inset: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

#userPopup {
    position: absolute;
    width: 330px;
    flex-direction: column;
    background-color: var(--bg-1);
    z-index: 9999;
    border-radius: 8px;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px;
    background-clip: content-box;
    overflow: hidden;
}

.userPopupMain {
    height: 100%; 
    flex-direction: column;
}

.userPopupTop {
    display: flex;
    flex-direction: row;
    position: relative;
}

.userPopupTop input[type="file"] {
    position: absolute;
    top: -100000;
}

.userPopupBanner {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 64px;
    background-color: black;
}

.userPopupAvatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 100;
    margin: 10px 0 0 10px;
    box-sizing: content-box;
    border: 5px solid var(--bg-1);
    background-color: black;
}

.userPopupStatus {
    position: absolute;
    background-color: var(--user-offline);
    border: 6px solid var(--bg-1);
    width: 26px;
    height: 26px;
    z-index: 101;
    top: 74px;
    left: 74px;
    border-radius: 50%;
}

.userPopupStatus.ONLINE {
    background-color: var(--user-online);
}

.userPopupStatus.OFFLINE::after {
    content: "";
    background-color: var(--bg-1);
    position: absolute;
    width: 6px;
    height: 6px;
    top: 25%;
    left: 25%;
    border-radius: 50%;
}

.userPopupBottom {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: var(--bg-0);
    border-radius: 8px;
    overflow-y: auto;
}

.userPopupBottom :first-child {
    padding-top: 0 !important;
}

#userPopupNameContainer {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--bg-3);
    margin-bottom: 12px;
}

.userPopupBottom .sectionHeader {
    padding-top: 12px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
}

#rightContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex-items {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

#servers {
    width: 80px;
    background-color: var(--bg-2);
}

#channels {
    background-color: var(--bg-3);
    color: #FFFFFF;
    padding: 10px;
    flex-shrink: 0;
    flex-grow: 1;
}

#messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 240px;
    background-color: var(--bg-4);
    color: #FFFFFF;
    overflow: hidden;
}

#messageContainer {
    padding: 10px 10px 0;
    width: 100%;
    max-height: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-wrap: break-word;
    outline: none;
}

#userList {
    padding: 10px;
    width: 240px;
    max-width: 240px;
    min-width: 240px;
    background-color: var(--bg-3);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    row-gap: 1px;
    outline: none;
}

#userList::-webkit-scrollbar {
    width: 0px;
}

#userList:hover::-webkit-scrollbar {
    width: 10px;
}

#userList:hover {
    padding: 10px 0px 10px 10px;
}

#userList::-webkit-scrollbar-track {
    padding: 2px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

#userList::-webkit-scrollbar-thumb {
    background: hsl(225, 7%, 14%);
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

#userList>span {
    font-size: 12px;
    font-weight: 600;
    color: var(--font-color-2);
    padding-left: 4px;
    user-select: none;
}

.user {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    user-select: none;
    padding: 4px;
    border-radius: 4px;
}

.user:hover, .user[css-active="true"] {
    background-color: var(--bg-5);
    cursor: pointer;
    opacity: 1 !important;
}

.user img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.user .userStatus {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 12px;
    height: 12px;
    border: 2px solid var(--bg-3);
    border-radius: 50%;
}

.user:hover .userStatus, .user[css-active="true"] .userStatus {
    border: 2px solid var(--bg-5);
}

.user>span {
    align-self: center;
    padding-left: 4px;
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user.ONLINE .userStatus {
    background-color: var(--user-online);
}

.user.OFFLINE {
    opacity: 0.5;
}

#rightNav {
    width: 100%;
    background: var(--bg-4);
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid var(--bg-1);
}

#serverChannelListToggle {
    display: none;
}

#rightNavChannelName {
    color: var(--font-color-1);
    font-weight: bold;
    font-size: 15px;
}

#rightNavButtons {
    margin-left: auto;
}

#userListToggle {
    appearance: none;
    border: none;
    color: var(--font-color-1);
    background: none;
    padding: 0;
}

#channelContentContainer {
    display: flex;
    height: 1px;
    flex-grow: 1;
}

#messageSender {
    border: 5px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
    margin-bottom: 2.5px;
    position: relative;
    background-color: var(--bg-5);
    display: flex;
    align-items: center;
}

#messageField {
    position: relative;
    bottom: 0;
}

#mobileSend {
    position: relative;
    height: 44px;
    aspect-ratio: 1;
    border-left: 1px solid var(--font-color-3);
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#mobileSend > svg {
    padding: 10px;
    transform: translateY(-2px) translateX(2px) rotate(-45deg);
}

#messageField ~ #messageFieldPlaceholder {
    display: none;
}

#messageField:empty ~ #messageFieldPlaceholder {
    display: block;
}

#messageFieldPlaceholder {
    position: absolute;
    pointer-events: none;
    background: transparent;
    bottom: 0;
    color: var(--font-color-3);
    z-index: 0;
    user-select: none;
}

@media screen and (max-width: 420px) {
    #userPopup {
        width: auto;
    }
}