<html>
<head>
    <link href="/resource/register.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Register | Headpat</title>
    <meta property="og:title" content="Headpat Register" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://headpat.tentti.xyz/" />
    <meta property="og:image" content="https://headpat.tentti.xyz/resource/banner.png" />
    <meta property="og:description" content="Registration page for Headpat" />
    <meta name="theme-color" content="#0d6efd">
</head>
<body>
<%- include("./navbar"); %>
<div id="snackbar"></div>
<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsl(0deg 0% 18.26% / 55%);
            backdrop-filter: blur(40px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Register to Headpat</h2>
                        <form action="/login" method="post">
                            <div class="form-outline mb-4">
                                <input type="email" id="email" class="form-control" />
                                <label class="form-label" for="email">Email address</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="password" class="form-control" />
                                <label class="form-label" for="password">Password</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="registrationCode" class="form-control" />
                                <label class="form-label" for="registrationCode">Registration Code</label>
                            </div>
                            <button type="button" id="register" class="btn btn-primary btn-block mb-4">
                                Register
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/resource/banner.png" class="w-100 rounded-4 shadow-4"
                     style="border-radius: 10%;"
                     alt="" />
            </div>
        </div>
    </div>
</section>
<script src="/resource/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>